body 
        {
          background-color: #ffffff;
          background-image: url('images/back.png');
          background-repeat: no-repeat;
          background-attachment:fixed;
          background-position: center left;
          font-family: Baskerville, serif;
          font-size: 18px;
          color: #48361e;
        }

a {
text-decoration: none;
}

table {
          font-family: Baskerville, serif;
          font-size: 18px;
          color: #48361e;
          padding:5px;
}

th {
          text-align: right;
          vertical-align: top;
          padding-right: 5px;
          padding-left:2px;
}

td {
          vertical-align: top;
          padding-bottom: 10px;
}

table table {
          padding:0px;
}

table table td{
          text-align:right;
          padding-bottom:0px;
}
        
#back{
  width:1000px;
        }
        
#nav{
  position: fixed;
  top:0;
  width:1000px;
  height:50px;
  background-image:url('images/nav.png');
  z-index: 99999;
        }
        
#about a{
  width:150px;
  height:50px;
  background-image:url('images/nava.png');
  position: absolute;
  top: 0px;
  left:75px;
}
#about a:hover{
  width:150px;
  height:50px;
  background-image:url('images/navah.png');
  position: absolute;
  top: 0px;
  left:75px;
}
#about a:active{
  width:150px;
  height:50px;
  background-image:url('images/navah.png');
  position: absolute;
  top: 0px;
  left:75px;
}

#product a{
  width:150px;
  height:50px;  
  background-image:url('images/navp.png');
  position: absolute;
  top: 0px;
  left:275px;
}
#product a:hover{
  width:150px;
  height:50px;  
  background-image:url('images/navph.png');
  position: absolute;
  top: 0px;
  left:275px;
}
#product a:active{
  width:150px;
  height:50px;  
  background-image:url('images/navph.png');
  position: absolute;
  top: 0px;
  left:275px;
}

#order a{
  width:150px;
  height:50px;  
  background-image:url('images/navoh.png');
  position: absolute;
  top: 0px;
  left:475px;
}
#order a:hover{
  width:150px;
  height:50px;  
  background-image:url('images/navoh.png');
  position: absolute;
  top: 0px;
  left:475px;
}
#order a:active{
  width:150px;
  height:50px;  
  background-image:url('images/navoh.png');
  position: absolute;
  top: 0px;
  left:475px;
}

#contact a{
  width:150px;
  height:50px;  
  background-image:url('images/navc.png');
  position: absolute;
  top: 0px;
  left:675px;
}
#contact a:hover{
  width:150px;
  height:50px;  
  background-image:url('images/navch.png');
  position: absolute;
  top: 0px;
  left:675px;
}
#contact a:active{
  width:150px;
  height:50px;  
  background-image:url('images/navch.png');
  position: absolute;
  top: 0px;
  left:675px;
}

.prop{
  position: absolute;
          top: 100px;
          left: 70px;
          margin:10px;
}
