@font-face{ 
	font-family: 'Copperplate-Gothic-Std-31-AB';
	src: url('Copperplate-Gothic-Std-31-AB.woff') format('woff');
}
* { margin:0; padding:0; box-sizing:border-box; }
body{
	background-color: #15161c;
	color: #CED2EA;
	font-family: 'Century Gothic', 'Calibri', 'Helvetica', sans-serif;
	font-size: 16px;
}

header{
	margin: 0em;
	padding: .5em .5em 0em;
	color: #CED2EA;
}

#main_title{
	margin: 0em;
	font-family: 'Copperplate-Gothic-Std-31-AB', 'Helvetica', sans-serif;
	font-size: 3.5em;
	text-align: center;
	letter-spacing: .08em;
	text-decoration: none;
}

.navi{
	max-width: 100%;
	padding: 1% 10%;
	margin: auto;
	display: flex;
 	flex-direction: row;
 	justify-content: center;
}

nav a{
	text-decoration: none;
	font-weight: 900;
	font-size: 1.5em;
	letter-spacing: .05em;
	color: #CED2EA;
 	padding: .5em 1em .5em;
}

nav a:hover{
	background-color: #CED2EA;
	color: #15161c;
}


.title {
	display: block;
	padding: 0em;
	text-align: center;
	font-weight: 800;
	font-size: 1.8em;
	text-decoration: none;
}

.works{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.picture {
	padding: 0 0 1.25em 0;
}


.picture img {
	max-width:100%;
}

.descripition {
	font-size: 1.1em;
	padding: 0 0 0 1.25em;
	width: 30%;
	line-height: 1.25em;
}

.descripition_ver {
	font-size: 1.1em;
	padding: 0 0 0 1.25em;
	width: 60%;
	line-height: 1.25em;
}

.descripition a{
	text-decoration: none;
}

.descripition a:visited{
	color:#5767af;
}

h2{
	font-weight: 900;
	font-size: 1.2em;
	text-decoration: none;
}

footer {
	padding: 0 1em;
	font-size: 1.1em;
	letter-spacing: .05em;
}

footer a{
	text-decoration: none;
	color: #FFEB9A;
}

.wrapper{
	padding: 1.25em;
	width: 80%;
	margin: auto;
}

section{
	padding: 0 1.25em;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 70%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 70%;
  text-align: center;
  color: #CED2EA;
  padding: 1em 0;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}