body{
	background-color: rgba(0,0,0,.7);
	color: #FFF9CD;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 18px;
}

h1{
	font-family: Adventure, Calibri, sans-serif;
	font-size: 72px;
	text-align: center;
	padding: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.slogan{
	font-family: Adventure Hollow, Calibri, sans-serif;
	font-size: 36px;
	text-align: center;
	padding: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

img{
	display: block;
	margin: auto;
}

#bodytext{
	margin: auto;
	width: 500px;
	padding-top: 15px;
}

.listtext{
	margin: auto;
	width: 500px;
	padding-top: 10px;
	padding-left: 0px;
}

#footer{
	background-color: rgba(255,255,255,.7);
	color:#191919;
	font-size: 14px;
	font-weight: bold;
	padding:20px;
}